@font-face {
    font-family: Lora;
    src: url('assets/fonts/Lora/Lora-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 300 800;
}

@font-face {
    font-family: Lora;
    src: url('assets/fonts/Lora/Lora-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
    font-weight: 300 800;
}

@font-face {
    font-family: Geologica;
    src: url('assets/fonts/Geologica/Geologica-VariableFont.ttf') format('truetype');
    font-style: normal;
    font-weight: 300 800;
}

* {
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', serif;
    color: #2e2e2e;
    font-size: 3rem;
    font-weight: bolder;
}

p {
    font-family: 'Geologica', sans-serif;
    color: #a647f1;
}
