.inputContainer,
.resultsContainer {
    width: 100%;
    max-width: 776px;
}

.inputContainer {
    position: relative;
}

.inputContainer input {
    width: 100%;
    transition: box-shadow 0.2s ease, opacity 0.2s ease;
    border: var(--border-default);
    padding: 12px 48px 12px 24px;
    box-shadow: var(--box-shadow-inactive);
}

.inputContainer input::placeholder {
    color: var(--hoverBackground);
}

.icon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    color: var(--black);
    right: 14px;
}
