.resultsContainer {
    padding: 12px 24px 0;
    font-size: var(--font-size, 16px);
}

.resultsContainer section {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    gap: 12px;
}

.resultsContainer section h1 {
    line-height: 3.6rem;
}

.resultsContainer section p {
    font-size: 1.2rem;
}

.resultsContainer section div {
    margin-left: auto;
}

.resultsContainer section p,
.resultsContainer section span {
    margin: 0;
}

.resultsContainer article {
    border: var(--border-default);
    padding: var(--padding-default);
    margin-bottom: var(--padding-default);
    box-shadow: var(--box-shadow-inactive);
}

.resultsContainer strong {
    font-weight: bolder;
    margin-bottom: 16px;
    display: inline-block;
}

.resultsContainer h6 {
    font-size: 16px;
    margin: 24px 0 16px;
}

.resultsContainer .synonymsList {
    padding: 0;
}

.resultsContainer .synonymsList li {
    list-style: none;
    display: inline;
    margin-right: 4px;
}

.resultsContainer .synonymsList span {
    border: 1px solid var(--black);
    padding: 8px;
    font-size: 1rem;
    display: inline-block;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.resultsContainer .synonymsList span:hover,
.resultsContainer .synonymsList span.selected {
    background-color: var(--black);
    color: var(--white);
}
