.infoBoxContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 12px 24px;
    transform: translateY(100px);
    transition: transform 0.2s ease;
}

.infoBoxContainer.open {
    transform: translateY(0);
}

.infoBoxContainer > div {
    width: 100%;
    transition: box-shadow 0.2s ease, opacity 0.2s ease;
    border: var(--border-default);
    border-color: var(--black);
    padding: 12px 24px;
    box-shadow: var(--box-shadow-inactive);
    background-color: var(--black);
}

.infoBoxContainer > div > h5 {
    color: var(--white);
    font-size: 1.2em;
    font-weight: 400;
}
